
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
	margin-bottom: 0px;
}

.no-margin{
	margin: 0px;
}

.no-padding{
	padding: 0px;
}

.big-padding{
	padding: 30px;
}

.no-transform{
	text-transform: none;
}

.blue-grey{
	background-color: #37474f;
}

.white{
	background-color: white;
}

.white-text{
	color: white;
}

.red-text{
	color: rgb(200, 50, 50);
}

.card{
	box-shadow: 2px 2px 5px #999;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.inline-block{
	display: inline-block;
}

.table{
	background-color: white;
}

.absolute{
	position: absolute;
}

.floating{
	position: absolute;
	left: 10%;
}

.product{
	width: 600px;
	max-width: 100%;
	padding: 1em;
	position: relative;

	h1{
		padding-bottom: 10px;
		border-bottom: solid 1px;
	}

	.actions{
		right: 1em;
		top: 10px;
	}
}